
/*Nav Bar*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccf4f3;  
}
.nav{
    height: 75px;
    background-color: #ccf4f3;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
  }
 
  .bar i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .bar:hover {
    background-color: #cccccc;
    height: 40px;
    padding: 4px;
    width: 60px;
    border-radius: 10px;
  }
  
.logo{
    height: 100px;
}
.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    width: 400px; 
    border: 1px solid #ccc;
  }
  .search i {
    color: #555;
    margin-right: 8px;
  }
  .search input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
    font-size: 16px;
  }
.items a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.items{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.hover-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
    text-decoration: none;
  }
  
  .hover-effect i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hover-effect:hover {
    background-color: #cccccc;
  }
  
  .item {
    width: 100px;
    height: 40px;
  }
  .item2{
    width: 100px;
    height: 40px;
  }
  .button{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  .but{
    height: 30px;
    width: 80px;
    border-radius: 15px;
    background-color: #ffb9e4;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
  }
  .but:hover{
    background-color:   #fc91c6;
  }

  
  