* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h4{
    text-align: center;
}

.form {
    position: relative; 
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.bgimage {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
}

.login {
    height: 500px;
    width: 450px;
    z-index: 2; 
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    height: 450px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 30px;
    text-align: center;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input input[type="text"],
.input input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #7ea8f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.links {
    margin-top: 20px;
}

.links a {
    color: rgba(47, 47, 47, 0.559);
    text-decoration: none;
    font-size: 14px;
}

.checkbox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
    margin-bottom: -13px;
}
